.banner {
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    border-bottom: 5px solid black;
}

.banner-textbox {
    max-width: 720px;
    /* min-width: 40%; */
    margin: 5px 20px;
    padding: 10px 15px 0;
}

.wide-box .banner-textbox {
    max-width: 1000px;
}

.side-image {
    max-width: 230px;
    max-height: 230px;
    width: 25vw;
    height: 25vw;
    margin: 5px 20px 5px 5px;
    flex-shrink: 0;
}

.center-text {
    text-align: center;
}

.dark-background .banner-textbox {
    background-color: rgba(0,0,0,.7);
}

.positioned-title .banner-textbox {
    position: absolute;
    margin: 0;
    bottom: 2%;
    font-size: 1.7rem;
}

.positioned-title h1 {
    margin: 0;
}

.positioned-title p {
    margin: 0;
}

.text-shadow {
    text-shadow: 3px 3px black;
}

strong {
    display: inline-block;
    min-width: 100px;
}

.banner-link {
    color: white;
    text-align: center;
}

.banner-link p {
    font-size: 1.4rem;
    text-shadow: 2px 2px black;
}

.banner-link:hover h1 {
    color: var(--primary);
}

.banner-link:hover .banner::after {
    position: absolute;
    content: "";
    background: linear-gradient(
        rgba(150, 150, 200, 0.0), 
        rgba(150, 150, 200, 0.0), 
        rgba(150, 150, 200, 0.0),
        rgba(233, 179, 83, 0.02),
        rgba(233, 179, 83, 0.3)
      );
    width: 100%;
    height: 100%;
}

.icons {
    text-align: center;
}

.icons img {
    width: 45px;
    margin-right: 8px;
}

.icons img:hover {
    filter: invert(100%) brightness(150%);
}

@media (max-width: 600px) {
    .banner.flex {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .side-image {
        order: -1;
        margin: 15px 20px;
    }
}