.project-container {
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    height: calc(100vh - 50px);
}

.project {
    position: relative;
    width: 70vw;
    flex-shrink: 0;
    margin: 10px 40px;
    scroll-snap-align: center;
}

.project-header {
    position: relative;
    height: 400px;
    background-size: cover;
}

.project-header .header-textbox {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.project-header h1, h2, h3 {
    margin: 0;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, -2px 2px 3px black, 2px -2px 3px black;
}

.project-body {
    text-align: justify;
}

.disable-snap {
    scroll-snap-type: none !important;
}

.arrow {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
    background: none;
    border: none;
    -webkit-text-stroke: 3px black;
}

.arrow-left {
    left: 9.5vw;
}

.arrow-right {
    right: 9.5vw;
}