---
layout: default
title: Interests - Wouter Dobbels
stylefile: /css/interests.css
navtitle: interests
metadescription: "My personal interests: gaming, reading, guitar, game development and programming."
---

<link rel="stylesheet" href="{% link /glide/dist/css/glide.core.min.css %}">
<link rel="stylesheet" href="{% link /glide/dist/css/glide.theme.min.css %}">
<script src="https://kit.fontawesome.com/2aa4864d42.js" crossorigin="anonymous"></script>

{% assign ngames = site.data.games.size %}
<section class="slides-container">
    <h2 class="side-title">Gaming</h2>
    <div class="slides">
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for game in site.data.games %}
                    <li class="glide__slide img-slide" data-name="{{ game.name }}" data-description="{{ game.description }}">
                        {% picture interestslide {{ '/assets/img/interests/games/' | append: game.image }} --alt Illustration from {{ game.name }} --img loading="lazy" %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="arrows" data-glide-el="controls">
                <button class="arrow arrow-left" data-glide-dir="<" aria-label="Previous slide"><i class="fas fa-caret-left"></i></button>
                <button class="arrow arrow-right" data-glide-dir=">" aria-label="Next slide"><i class="fas fa-caret-right"></i></button>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                {% for i in (1..ngames) %}
                <button class="glide__bullet" data-glide-dir="={{ i | minus: 1 }}" aria-label="Go to slide {{ i }}"></button>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="fixed-text">
        <p>In my free time, I like playing video games. Mostly on pc, sometimes on the nintendo switch. I play all kinds of games, although most of them are online and team-based.</p>
    </div>
    <div class="sliding-text">
        <h3 class="changing-title">Overwatch</h3>
        <p class="changing-description">Overwatch is a first-person, hero-based shooter developed by blizzard entertainment. It is played with teams of six, where each player can pick a hero that fits the need of the team. Different heros have different roles, such as defending the team, doing damage, healing the team or distracting the enemy team.</p>
    </div>
</section>
<section class="reading-container">
    <h2 class="side-title">Reading</h2>
    <div class="reading-content">
        <div class="reading-images">
            <div class="book-stack-container">
                <div class="book-stack">
                    {% picture bookstack /assets/img/interests/books/sideview.png --alt Stack of my favourite books --img loading="lazy" %}
                    {% for book in site.data.reading %}
                    <div class="linkbox" data-title="{{ book.title }}" data-description="{{ book.description }}" data-image="{{ book.image }}" style="top: {{ book.box[0] }}%; height: {{ book.box[1] }}%; left: {{ book.box[2] }}%; right: {{ book.box[3] }}%;"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="book-cover-container">
                <img id="book-cover" class="book-cover" src="{% link /assets/img/interests/books/select-book.jpg %}" alt="book cover">
            </div>
        </div>
        <div class="book-description">
            <p class="description"></p>
        </div>
    </div>
</section>
<section id="more">
    <h2 class="side-title">Other</h2>
    <div id="more-container">
        {% for interest in site.data.more-interests %}
        <div class="more-element">
            {% picture moreimg {{ '/assets/img/interests/more/' | append: interest.image }} --alt {{ interest.title }} --img loading="lazy" %}
            <h2>{{ interest.title }}</h2>
            <p>{{ interest.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>
<script defer src="{% link /glide/dist/glide.min.js %}"></script>
<script defer src="{% link /js/glide-changetext.js %}"></script>
<script defer src="{% link /js/select-listitem.js %}"></script>