---
layout: default
title: Research - Wouter Dobbels
navtitle: research
permalink: /research/
stylefile: /css/research.css
metadescription: "Research of Wouter Dobbels. I work in the group of Prof. Maarten Baes, at Ghent University. My main research focus is using machine learning to handle missing data of galaxies."
---

<section class="introduction">
    <h1>Research in computational astrophysics</h1>
    <p>My research mainly involves studying dust in galaxies. Central to my PhD thesis is the use of machine learning techniques to circumvent a lack of data. Galaxies that have been observed through a broad range of wavelengths (and hence have accurately determined properties) are used as training examples. The machine learning pipeline learns to predict accurate properties, even for galaxies with less observational constraints.</p>
</section>

<div id="research-container" class="project-container">
    {% for project in site.data.research %}
        {% include hovercard.html data=project %}
    {% endfor %}
</div>

<section id="conferences">
    <h1>Conferences</h1>
    <p>You might know me from one of the following conferences:</p>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>year</th>
                <th>where</th>
                <th>talk?</th>
                <th>topic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nederlandse Astronomen Conventie (NAC)</td>
                <td>2018</td>
                <td>Groningen, The Netherlands</td>
                <td>poster</td>
                <td>global FIR predictions</td>
            </tr>
            <tr>
                <td>Machine learning applications for astronomy workshop</td>
                <td>2018</td>
                <td>Nottingham, UK</td>
                <td>talk</td>
                <td>morphological stellar mass</td>
            </tr>
            <tr>
                <td>IAU Symposium 341: PanModel2018</td>
                <td>2018</td>
                <td>Osaka, Japan</td>
                <td>talk</td>
                <td>global FIR predictions</td>
            </tr>
            <tr>
                <td>EWASS</td>
                <td>2019</td>
                <td>Lyon, France</td>
                <td>talk</td>
                <td>morphological stellar mass</td>
            </tr>
            <tr>
                <td>The art of measuring galaxy physical properties</td>
                <td>2019</td>
                <td>Milano, Italy</td>
                <td><a href="https://zenodo.org/record/3555169" target="_blank" rel="noopener">talk</a></td>
                <td>global FIR predictions</td>
            </tr>
        </tbody>
    </table>

</section>

<div class="free-space">
</div>