<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if page.metadescription %}
    <meta name="description" content="{{ page.metadescription }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href='{{ "/assets/favicon.png" | relative_url }}'/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/default.css' | relative_url }}">
    {% if page.stylefile %}
    <link rel="stylesheet" href={{ page.stylefile | relative_url }}>
    {% endif %}
    {% if layout.revealjs %}
    <link rel="stylesheet" href="{{ '/revealjs/css/reveal.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/revealjs/css/theme/black.css' | relative_url }}" id="theme">
    <link rel="stylesheet" href="{{ '/css/slides.css' | relative_url }}">
    {% endif %}
</head>
<body>
    <nav>
        <h2>Wouter Dobbels</h2>
        <ul class="nav-links">
            {% for navpage in site.data.navpages %}
                <li>
                    <a {% if page.navtitle == navpage.codename %}class="current"{% else %}href="{{ navpage.url | relative_url }}"{% endif %}>
                    {{ navpage.displayname }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {{ content }}
</body>
</html>