---
layout: default
---

{% comment %}
    The old way, by looping over all data files (before realizing you can index based on page.datafile):

    COMMENT
    site.data is a dictionary with all the data files in /_data
    the key is the name of the data file (without .yml)
    the value is the data in the file
    when looping over a dictionary, the key is stored as index 0, and value as index 1

    CODE
    {% for datafiles in site.data %}
        {% if datafiles[0] == page.datafile %}
            {% assign projectdata = datafiles[1] %}
        {% endif %}
    {% endfor %}
{% endcomment %}

{% assign projectdata = site.data[page.datafile] %}

<script src="https://kit.fontawesome.com/2aa4864d42.js" crossorigin="anonymous"></script>

<div id="project-container" class="project-container">
{% for project in projectdata %}
    {% include project.html data=project %}
{% endfor %}
</div>
<button class="arrow arrow-left"><i class="fas fa-caret-left fa-10x"></i></button>
<button class="arrow arrow-right"><i class="fas fa-caret-right fa-10x"></i></button>

<script defer src="{% link /js/project-scroller.js %}"></script>